<div class="container">
    <h1>Lista de Productos</h1>
    <h2>Bienvenido {{user.name}} !</h2>
    <div>

    <a href="/api/sessions/logout"><button>salir</button></a>
    </div>

    <div class="contenedorBtn">

        <a href="./realTimeProducts">
            <button class="btn">Real time products</button>
        </a>
        <a href="./chat">
            <button class="btn">Chat</button>
        </a>
    </div>
    <ul class="listaProductosContenedor">
        {{#each docs}}
        <li class="listaProductos">
            {{#each this}}
            <h2>{{title}}</h2>
            <p>{{category}}</p>
            <p>{{code}}</p>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{stock}}</p>
            <p>{{ status}}</p>
            {{/each}}
            <button>agregar al carrito</button>
        </li>
        {{/each}}
    </ul>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Pagina anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Pagina siguiente</button></a>
    {{/if}}
</div>