<div class="container">
    <h1>Lista de Productos</h1>
    <div class="contenedorBtn">

        <a href="./realTimeProducts">
            <button class="btn">Real time products</button>
        </a>
        <a href="./chat">
            <button class="btn">Chat</button>
        </a>
    </div>
    <ul class="listaProductosContenedor">
        {{#each products}}
        <li class="listaProductos">
            <h2>{{title}}</h2>
            <p>Descripción: {{description}}</p>
            <p>Código: {{code}}</p>
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Categoría: {{category}}</p>
            <p>Estado: {{#if status}}Disponible{{else}}No disponible{{/if}}</p>
            <button>agregar al carrito</button>
        </li>
        {{/each}}
    </ul>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Pagina anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Pagina siguiente</button></a>
    {{/if}}
</div>